/*
	HTML Template by beno_rohman
	fiverr.com/beno_rohman
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: #DDD;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color:#ED1234;
}

body {
	margin: 0;
	background: url("am_fill.jpg") no-repeat scroll center top #252525;
}
p {
	margin: 10px 0;
}

hr {
	display: block;
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;
	border-style: inset;
	border-width: 1px;
	margin: 40px -20px;
	border-color: #FFF;
}
img {
	width: 95%;
	height: auto;
	padding: 5px;
	border: solid 0px #888;
	margin-bottom:10px;
	margin-top:10px;
}
#head {
	background: #222222;
	margin-bottom: 100px;
	border-bottom: solid 1px #333333;
}
#head nav{
	overflow: hidden;
	width: 940px;
	margin: auto;
	border-left: 1px solid #333333;
}

#head ul li {
	float:left;
}
#head ul li a{
	padding: 25px;
	display: block;
	text-transform:uppercase;
	text-decoration:none;
	border-right: 1px solid #333333;
	color:#FFF;
	font-family: "Lato", sans-serif;
	font-weight: lighter !important;
}
#head ul li a:hover, #head ul li a.active {
	background: #888;
}
.title, .subtitle {
	font-family: "Lato", Segoe ui, tahoma, "Anaheim", sans-serif;
	font-weight: lighter !important;
	margin-left: 30px;
	text-shadow: 5px 4px 3px #000;
}
.title {
	font-size: 64px;
	color : #EEEEEE;
}
.subtitle {
	font-size: 48px;
	color : #ED1234;
}

#content {
	width:940px;
	margin: auto;
	overflow: hidden;
}
#midart {
	margin-top: 10px;
	width: 440px;
	font-family: "Lato", Segoe ui, tahoma, "Anaheim", sans-serif;
	font-weight: lighter !important;
	float: left;
}
#midart h1, h1 {
	font-size: 38px;
}
#midart h2, h2 {
	font-size: 32px;
}
#midart h3, h3 {
	font-size: 28px;
}
#midart h4, h4 {
	font-size: 24px;
}
#midart h5, h5 {
	font-size: 20px;
}
#midart h6, h6 {
	font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-bottom: 10px;
}

#midart p {
	text-align: justify;
	text-indent: 50px;
	font-size: 20px;
}

#midart p2 {
	text-align: justify;
	text-indent: 50px;
	font-size: 18px;
}

#midart .center p, .center p, .center {
	text-indent: 0;
	text-align: center;
}
#midart .noindent p {
	text-indent: 0;
}
#midart ul , ol{
	margin: 10px;
	font-size: 16px;
	padding: 0 20px;
}
#midart ul li, #midart ol li{
	margin-bottom: 5px;
}
.clist li{
	list-style-type: circle;
}
.oclist li {
	list-style-type: decimal;
}
.gallery {
	margin-top: 25px;
	margin-left: 10px;
}
.gallery img{
	width: 115px;
	height: 115px;
	margin:6px;
	padding:0;
}
.pp_content_container img {
	padding: 0;
	border: none;
}
#side {
	float: right;
	width: 40%;
	padding-top: 600px;
	margin: 2%;
}
footer {
	margin: auto;
	font-family: "Anaheim", sans-serif;
	font-size: 16px;
}
footer .left, .left {
	width: 35%;
	margin: 5%;
	float: left;
}
footer .right, .right{
	width: 35%;
	margin: 5%;
	float: right;
}
.foot {
	width: 940px;
	margin: auto;
}
#last {
	background: #333333;
	padding: 10px;
	margin-top: 100px;
	border-top: solid 1px #555;

}
#copy {
	width:940px;
	margin:auto;
}
#midart, section, footer{
	clear: both;
}
.smove {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.teswrap {
	float: left;
}
.social{
	float:right!important;
}
.social img{
 margin: inherit;
}
.social a{
	padding:9px 30px 5px 20px!important;
}